.banner {
	padding: 25px 0;
	border-bottom: 1px solid #D6D6D6;
	background-color: #fff;
}

/* Top nav */
.navbar {
	padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0.92rem 1.5rem;
	color: #474B6E;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:focus {
	background-color: #979AAF;
	color: #fff;
}

.navbar-light.bg-light {
	background-color: #E1E1E8 !important;
}
.navbar-light {
	border-bottom: 1px solid #707070;
}

/* Side nav */
.side-nav {
	border-top: 1px solid #1CA0F4;
	border-left: 1px solid #1CA0F4;
	border-right: 1px solid #1CA0F4;
	margin-right: 20px;
}
.side-nav .nav-item {
	border-bottom: 1px solid #1CA0F4;
}

.side-nav .nav-item .nav-link {
	padding: 0.8rem 0 0.8rem 1.3rem;
}

.btn-lg {
	padding: 0.7rem 1.5rem;
	margin-bottom: 20px;
}

.btn-primary,
.side-nav .nav-item .nav-link:hover,
.side-nav .nav-item .nav-link:active,
.side-nav .nav-item .nav-link.active,
.side-nav .nav-item .nav-link:focus {
	color: #fff !important;
	background-color: #1CA0F4;
}

.btn-primary {
	border: none;
}

.btn-secondary {
	background-color: #E1E1E8;
	border-color: #474B6E;
	color: #474B6E;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	background: #474B6E;
}

.home-buttons .btn-secondary {
	margin-right: 30px;
}

body {
	font-size: 1.1em;
	font-family: "open-sans", sans-serif;
	font-weight: 400;
	background-color: #979AAF;
}

.main {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #fff;
}

.main h1 {
	color: #e870bc;
	font-family: "open-sans", sans-serif;
	font-weight: 600;
	font-size: 2.3rem;
	border-bottom: 1px solid #e870bc;
	margin-top: 0;
}

.main h2 {
	font-weight: 300;
	color: #05679F;
}

a {
	color: #1CA0F4;
}


h1 {
	margin: 20px 0 30px;
}

h2 {
	color: #9e9e9e;
	font-weight: bold;
	font-size: 1.4rem;
}

strong {
	font-weight: 600;
}

/** Home **/
h1.home-title {
  text-transform: uppercase;
  letter-spacing: -0.01em;
  line-height: 1.1em;
}

h1.home-title .larger {
  font-size: 125%;
}

h1.home-title .lead {
  text-transform: none;
  letter-spacing: 0em;
  line-height: 1.4em;
  margin-bottom: 6px;
  font-size: 1.5rem;
}

/** Treatment options accordion **/
.accordion {
	margin: 30px 0 60px;
	border: 1px solid rgba(5, 103, 159, 1) !important;
}

.accordion .accordion__title {
	background-color: #fff;
}

.accordion__title h3,
.accordion__title h4 {
	font-size: 1.2em;
	color: #05679F;
}

.accordion .accordion__title:hover,
.accordion .accordion__title:active,
.accordion .accordion__title:focus {
	background-color: #05679F;
}

.accordion .accordion__title:hover h3,
.accordion .accordion__title:active h3,
.accordion .accordion__title:focus h3{
	color: #fff;
}

.accordion__item + .accordion__item {
	border-top: 1px solid rgba(5, 103, 159, 1) !important;
}

/** Treatment comparison table **/
.table th, .table td,
.table thead th {
	border: none;
}

th {
	color: #05679F;
}

.table-bordered,
.table-bordered td,
.table-bordered thead th,
.table-bordered th {
	border: 1px solid #05679F;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(236, 243, 247, 1);
}

/** Values **/
.number-scale {
  counter-reset: values-scale -1;
}

.btn-scale::before {
  counter-increment: values-scale;
  content: counter(values-scale);
}

.number-scale {
	margin: 40px 0 60px;
}

.number-scale h3 {
	font-size: 1.25em;
	color: #000;
	font-weight: 200;
	margin-bottom: 20px;
	line-height: 1.3em;
}

.number-scale .scale-label {
	color: #05679F;
	margin-bottom: 10px;
}

.number-scale .scale .btn {
	font-weight: 600;
	font-size: 2em;
}

.number-scale .scale .btn-light {
	background: none;
	border-color: #05679F;
	color: #05679F;
}
.number-scale .scale .btn-scale {
	border-radius: 0;
	width: 75px;
	height: 75px;
	line-height: 1.6em;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
	background-color: #05679F;
	color: #fff;
	border-top: #05679F 1px solid;
	border-bottom: #05679F 1px solid;
}

.value-response {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.value-response.show-response {
	opacity: 1;
	visibility: visible;
	position: relative;
}

.value-response .response {
	background-color: #FFF9EB;
	border: #BA6526 1px solid;
	color: #BA6526;
	padding: 12px 20px 15px;
	margin-top: 30px;
	width: 80%;
}

/** Next steps **/
.mult-choice-quest {
  margin-bottom: 20px;
}

/** Footer **/
.footer .copyright-and-hcc {
	font-size: 0.8rem;
	text-align: center;
}

.footer {
	padding: 30px 0 60px;
}

.footer .copyright-and-hcc,
.footer .copyright-and-hcc a {
	color: #fff;
}

.footer .copyright-and-hcc a {
	text-decoration: underline;
}

